/* src/components/CardProductDetail.css */

.products-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

justify-content: center;
}

@media (max-width: 600px) {
  .products-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}