@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.page_404_unique {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.container_404_unique {
    text-align: center;
}

.row_404_unique {
    display: flex;
    justify-content: center;
}

.col-sm-12_404 {
    width: 100%;
}

.col-sm-10_404 {
    max-width: 800px;
    margin: 0 auto;
}

.four_zero_four_bg_unique {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.four_zero_four_bg_unique h1 {
    font-size: 80px;
}

.h2_404 {
    font-size: 30px;
}

.link_404_unique {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}

.link_404_unique:hover {
    background: #2d8f25;
}

.content_box_404_unique {
    margin-top: -50px;
}